################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Hacks/CSGO/GolaHack/GolaPresents/**/*/bin
/Hacks/CSGO/GolaHack/GolaPresents/**/*/obj
**/*/Packages

/Hacks/CSGO/GolaHack/GolaPresents/.vs/GolaPresents/v16
/Hacks/CSGO/CSGOInternal/csgoInternalMaster/CSGOInternalCplus/.vs/CSGOInternalCplus/v16
/Hacks/CSGO/CSGOInternal/csgoInternalMaster/CSGOInternalCplus/Debug
/Hacks/CSGO/CSGOInternal/csgoInternalMaster-Structured/.vs/CSGOInternalMaster/v16/ipch/AutoPCH
/Hacks/CSGO/CSGOInternal/csgoInternalMaster-Structured/.vs/CSGOInternalMaster/v16
